.allergen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.allergen-modal-content {
  background: #484747;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);  
}

.add-allergy-header {
  display: flex;
  margin-bottom: 20px;
}

.allergen-info {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;
}

.allergen-info h4{
  font-size: 1em;
}

.allergen-info div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.allergen-info div ul{
  margin: 0;
  padding: 0;
}

.allergen-button{
  margin: 10px 5px;
  background-color: #007bff;
  color: white;
  font-size: 1.25em;
}

.allergen-info div li{
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1em;
  list-style-type: none;
}

  .allergen-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }

.confirm-button {
  background-color: #28a745;
  color: white;
  font-size: 1em;
  margin: 10px 0;
}

  .close-button {
    cursor: pointer;
    color: white;
  }

  .allergen-modal-body ul {
    list-style-type: disc;
    padding-left: 10px;
  }


