body{
  background-color: #484747;
}

.pin-login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.pin-login-page h2{
  color: #D9D9D9;
}

.pin-display input {
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  font-size: 36px;
  letter-spacing: 0.5em;
  margin-bottom: 20px;
  height: 50px;
}

.number-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 200px;
  margin: 0 auto 20px auto;
}

.number-button {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: black;
  background-color: #D9D9D9;
}

.number-button:active {
  background-color: #ddd;
}

.controls {
  margin-top: 20px;
}

.clear-button,
.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.clear-button {
  background-color: #f44336;  /* Red for the clear button */
}

.clear-button:hover,
.submit-button:hover {
  opacity: 0.9;
}

.error-message {
  color: red;
  margin-top: 10px;
}

  