/* SplitPaymentModal.css */

.split-payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    z-index: 50;
  }
  
  .split-payment-container {
    width: 90%;
    height: 100%;
    overflow: auto;
    background: #484747;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: slideIn 0.3s ease-in-out;
  }


  .split-payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-top: 65px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .split-total-amount {
    font-size: 1.5em;
  }
  

  .split-payment-header h2 {
    margin: 0;
    font-size: 2rem;
  }
  
  
  .split-payment-close {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
  }

/* Split buttons (2, 3, 4, Other) */
  .split-buttons {
    gap: 5px;
    display: flex;
    margin-bottom: 5px;

  }

  .split-buttons button {
    font-size: 1.5em;
    width: 200px;
    height: 50px;
    padding: 10px;
  }


/* Enter Amount button */
  .split-by-amount-button {
    display: flex;
    font-size: 1.5em; 
  }


/* Split by: number and £ + person */
  .split-summary {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    font-size: 1.25em;
}


.split-summary p {
  margin: 10; 
}

/* Confirm Split Payment Button */
  .confirm-split-button {
    display: flex;
    font-size: 1.5em;
  }


/* Displaying numbers for split payment */
  .number-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

  .number-buttons button {
    font-size: 2em;
    color: black;
    background-color: #D9D9D9;
  }

  .number-display{
    text-align: center;
    font-size: 2em;
  }
  

  .split-number-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  