/* SplitPaymentModal.css */

.split-payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  .split-payment-container {
    width: 90%;
    height: 100%;
    background: #484747;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    animation: slideIn 0.3s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-30%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .split-payment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-top: 65px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .total-amount{
    
  }
  
  .split-payment-header h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .split-payment-close {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
  }
  
  .split-payment-methods {
    margin-bottom: 20px;
  }
  
  .payment-method-button {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 6px;
    background: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .payment-method-button.active {
    background: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .payment-method-button:hover {
    background: #007bff;
    color: white;
  }
  
  .split-payment-options {
    margin-bottom: 20px;
  }
  
  .split-payment-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .split-payment-input-container input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .split-payment-add-input-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .split-payment-add-input-button:hover {
    background: #218838;
  }
  
  .split-payment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .total-amount {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .payment-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .payment-button:hover {
    background: #0056b3;
  }
  